<a href="https://colab.research.google.com/github/Swethaa-sri/Data_Science/blob/main/class_objects_Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class emp10:
  def __init__(self,name,e_id,phone,address,gender):
    self.name=name
    self.e_id=e_id
    self.phone=phone
    self.address=address
    self.gender=gender

  def pt(self):
    print("modification done")
    print("name : {}, e_id : {}, phone : {}, address : {}, gender : {}".format(self.name,self.e_id,self.phone,self.address,self.gender))

  def update(self):

    self.name = input("enter name to be updated  : ")

In [ ]:
x1=emp10("karthik","e_01",345678,"Chennai","m")

In [ ]:
x2=emp10("riya","e_02",34789,"Banglore","f")

In [ ]:
x3=emp10("suma","e_04",12097,"Goa","f")

In [ ]:
x4=emp10("Rajesh","e_05",90876,"Hyderabad","m")

In [ ]:
x5=emp10("Rajiv","e_06",45890,"Vizag","m")

In [ ]:
e = input("enter name  : ")
p = input("employee id : ")
x = [x1,x2,x3,x4,x5]
i=0
while i < len(x):
  if e==x[i].name and p==x[i].e_id:

    print("are you sure you want to modify"," ",x[i].name," ","with phone no"," ",x[i].phone, " ","and employee id ", x[i].e_id)
    x[i].update()
    x[i].pt()  
    print("Thank You") 
    break;
  
  i=i+1

else:
    print("Match not found")

enter name  : rita
employee id : e_02
are you sure you want to modify   rita   with phone no   34789   and employee id  e_02
enter name to be updated  : riya
modification done
name : riya, e_id : e_02, phone : 34789, address : Banglore, gender : f
Thank You